<ion-header>
  <ion-toolbar>
    <ion-title>Preguntas frecuentes</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-accordion-group>
    <ion-accordion value="first">
      <ion-item slot="header" color="light">
        <ion-label><h6>¿Cómo puedo comprar?</h6></ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
        Haga clic en añadir al carro, luego va en la sección de compras y da terminar la compra.
      </div>
    </ion-accordion>
    <ion-accordion value="second">
      <ion-item slot="header" color="light">
        <ion-label> <h6>¿Puedo cambiar el producto?</h6></ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
        No.
      </div>
    </ion-accordion>
    <ion-accordion value="third">
      <ion-item slot="header" color="light">
        <ion-label><h6>¿Qué hago si el producto falla?</h6></ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
        Nada.
      </div>
    </ion-accordion>
  </ion-accordion-group>
</ion-content>
