<ion-header>
  <ion-toolbar>
    <ion-title>Perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Default Refresher -->
<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-list>
    <ion-item>
      
      <ion-button href="tablinks/mis-compras">
        <ion-label>Mis compras</ion-label>
        <ion-icon name="bag-outline"></ion-icon>
      </ion-button>
      
    </ion-item>
    <ion-item>
      <ion-button href="tablinks/misdatos">
        <ion-label>Mis datos</ion-label>
        <ion-icon name="person-outline"></ion-icon>
      </ion-button>
    </ion-item>
    <ion-item>
      <ion-button href="tablinks/ajustes">
        <ion-label>Ajustes</ion-label>
        <ion-icon name="cog-outline"></ion-icon>
      </ion-button>
    </ion-item>
  
  </ion-list>
</ion-content>




  
  
 



  

