<ion-header>
  <ion-toolbar>
    <ion-title>Menú</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

<ion-list>
  <ion-item>
    <ion-button fill="undefined" href="tablinks/videojuegos">
          <ion-label>Videojuegos</ion-label>
      <ion-icon name="chevron-forward-outline"></ion-icon>
    </ion-button>
  </ion-item>
    <ion-item>
      <ion-label>Juegos de mesa</ion-label>
      <ion-icon name="chevron-forward-outline"></ion-icon>
    </ion-item>
    <ion-item>
      <ion-label>Figuras</ion-label>
      <ion-icon name="chevron-forward-outline"></ion-icon>
    </ion-item>
    <ion-item>
      <ion-label>Nosotros</ion-label>
      <ion-icon name="chevron-forward-outline"></ion-icon>
    </ion-item>
    <ion-item>
      <ion-label>Preguntas frecuentes</ion-label>
      <ion-icon name="chevron-forward-outline"></ion-icon>
    </ion-item>
  </ion-list>
</ion-content>


