<ion-header>
  <ion-toolbar>
    <ion-title>Juegos de mesa</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Juegos de mesa</ion-card-subtitle>
      <ion-card-title>Catan</ion-card-title>
    </ion-card-header>
    <img src="https://www.andeslibreria.com/34776/900357.jpg" />
    <ion-card-content>
      $29.990
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Juegos de mesa</ion-card-subtitle>
      <ion-card-title>Exploding kittens</ion-card-title>
    </ion-card-header>
    <img src="https://ae01.alicdn.com/kf/H43512c9469904f96bea9e9f34672d82cJ/EXPLODING-KITTENS.jpg_Q90.jpg_.webp" />
    <ion-card-content>
      $14.990
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Juegos de mesa</ion-card-subtitle>
      <ion-card-title>Marvel Champions</ion-card-title>
    </ion-card-header>
    <img src="https://dementegames.cl/632-large_default/marvel-champions.jpg" />
    <ion-card-content>
      $50.990
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Juegos de mesa</ion-card-subtitle>
      <ion-card-title>Dixit</ion-card-title>
    </ion-card-header>
    <img src="https://m.media-amazon.com/images/I/71Jax6drpdL._AC_SL1123_.jpg" />
    <ion-card-content>
      $29.990
    </ion-card-content>
  </ion-card>
  
</ion-content>
