<ion-header>
  <ion-toolbar>
    <ion-title>Inicio</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>

  <ion-toolbar color="secondary">
    <ion-searchbar></ion-searchbar>
    <ion-buttons slot="secondary">
      <ion-button  href="tablinks/perfil">
        <ion-icon slot="icon-only" name="person-circle"></ion-icon>
        
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="primary">
      <ion-button color="primary">
        <ion-icon slot="icon-only" ios="ellipsis-horizontal" md="ellipsis-vertical"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title></ion-title>
  </ion-toolbar>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Juegos de mesa</ion-card-subtitle>
      <ion-card-title>Exploding kittens</ion-card-title>
    </ion-card-header>
    <img src="https://ae01.alicdn.com/kf/H43512c9469904f96bea9e9f34672d82cJ/EXPLODING-KITTENS.jpg_Q90.jpg_.webp" />
    <ion-card-content>
      
    </ion-card-content>
    <ion-button expand="block">Añadir al carro</ion-button>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Juegos de mesa</ion-card-subtitle>
      <ion-card-title>Marvel Champions</ion-card-title>
    </ion-card-header>
    <img src="https://dementegames.cl/632-large_default/marvel-champions.jpg" />
    <ion-card-content>
      $50.990
    </ion-card-content>
    <ion-button expand="block">Añadir al carro</ion-button>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Juegos de mesa</ion-card-subtitle>
      <ion-card-title>Dixit</ion-card-title>
    </ion-card-header>
    <img src="https://m.media-amazon.com/images/I/71Jax6drpdL._AC_SL1123_.jpg" />
    <ion-card-content>
      $29.990
    </ion-card-content>
    <ion-button expand="block">Añadir al carro</ion-button>
  </ion-card>

      <ion-card>
        <ion-card-header>
          <ion-card-subtitle>Videjuegos</ion-card-subtitle>
          <ion-card-title>God of War</ion-card-title>
        </ion-card-header>
        <img src="https://media.vandal.net/m/27407/god-of-war-201837182554_1.jpg" />
        <ion-card-content>
          $19.990
        </ion-card-content>
        <ion-button expand="block">Añadir al carro</ion-button>
      </ion-card>
  
      <ion-card>
        <ion-card-header>
          <ion-card-subtitle>Videjuegos</ion-card-subtitle>
          <ion-card-title>Final Fantasy VII Remake</ion-card-title>
        </ion-card-header>
        <img src="https://www.weplay.cl/pub/media/catalog/product/cache/d406ac87fd7d160c9527a5559b847e93/6/6/6622489232150_282.jpeg" />
        <ion-card-content>
          $29.990
        </ion-card-content>
        <ion-button expand="block">Añadir al carro</ion-button>
      </ion-card>
  
    <ion-card>
      <ion-card-header>
        <ion-card-subtitle>Videjuegos</ion-card-subtitle>
        <ion-card-title>Fifa 22</ion-card-title>
      </ion-card-header>
      <img src="https://http2.mlstatic.com/D_NQ_NP_869333-MLA49902802480_052022-O.jpg" />
      <ion-card-content>
        $39.990
      </ion-card-content>
      <ion-button expand="block">Añadir al carro</ion-button>
    </ion-card>
  
    <ion-card>
      <ion-card-header>
        <ion-card-subtitle>Videjuegos</ion-card-subtitle>
        <ion-card-title>Persona 5 Royal</ion-card-title>
      </ion-card-header>
      <img src="https://http2.mlstatic.com/D_NQ_NP_2X_820300-MLA45732245089_042021-V.webp" />
      <ion-card-content>
        $30.990
      </ion-card-content>
      <ion-button expand="block">Añadir al carro</ion-button>
    </ion-card>
  
    <ion-card>
      <ion-card-header>
        <ion-card-subtitle>Videjuegos</ion-card-subtitle>
        <ion-card-title>Tekken 7</ion-card-title>
      </ion-card-header>
      <img src="https://www.weplay.cl/pub/media/catalog/product/cache/3f1b140c3c9f36fbf6b01dffb521c246/7/2/7226741213780_1.jpeg" />
      <ion-card-content>
        $15.990
      </ion-card-content>
      <ion-button expand="block">Añadir al carro</ion-button>
    </ion-card>

    <ion-card>
      <ion-card-header>
        <ion-card-subtitle>Figuras</ion-card-subtitle>
        <ion-card-title> Set de figuras Pokémon Musculosas</ion-card-title>
      </ion-card-header>
      <img src="https://surtido.pe/wp-content/uploads/2021/02/Pokemon-Figuras-musculosas-anime-serie-figures-action-01.jpeg" />
      <ion-card-content>
        $30.990
      </ion-card-content>
      <ion-button expand="block">Añadir al carro</ion-button>
    </ion-card>
  
    <ion-card>
      <ion-card-header>
        <ion-card-subtitle>Figuras</ion-card-subtitle>
        <ion-card-title>My Hero Academia Lemillion</ion-card-title>
      </ion-card-header>
      <img src="https://www.microplay.cl/files/uploads/Figura-_My-_Hero-_Academia-_The-_Amazing-portada-falabella.jpg" />
      <ion-card-content>
        $25.990
      </ion-card-content>
      <ion-button expand="block">Añadir al carro</ion-button>
    </ion-card>
  
    <ion-card>
      <ion-card-header>
        <ion-card-subtitle>Figuras</ion-card-subtitle>
        <ion-card-title>Robot Fire Fire Edición coleccionista</ion-card-title>
      </ion-card-header>
      <img src="https://i.ytimg.com/vi/upcd536Fywg/maxresdefault.jpg" />
      <ion-card-content>
        $100.990
      </ion-card-content>
      <ion-button expand="block">Añadir al carro</ion-button>
    </ion-card>
  
  
</ion-content>

